<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--配置接口的映射，namespace命名空间设置为包名+接口名-->
<mapper namespace="szx.pet_info.dao.UserMapper">
    <select id="login" resultType="User" parameterType="java.lang.String">
    select * from tb_user where username=#{username} and password=#{password}
    </select>

</mapper>