<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="szx.car_shop.dao.CarMapper">
  <resultMap id="BaseResultMap" type="szx.car_shop.entity.Car">
    <id column="car_id" jdbcType="INTEGER" property="carId" />
    <result column="car_img" jdbcType="VARCHAR" property="carImg" />
    <result column="car_brand" jdbcType="VARCHAR" property="carBrand" />
    <result column="car_price" jdbcType="INTEGER" property="carPrice" />
    <result column="car_num" jdbcType="INTEGER" property="carNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    car_id, car_img, car_brand, car_price, car_num
  </sql>
  <select id="selectByExample" parameterType="szx.car_shop.entity.CarExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_car
    where car_id = #{carId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_car
    where car_id = #{carId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="szx.car_shop.entity.CarExample">
    delete from tb_car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="szx.car_shop.entity.Car">
    insert into tb_car (car_id, car_img, car_brand,
      car_price, car_num)
    values (#{carId,jdbcType=INTEGER}, #{carImg,jdbcType=VARCHAR}, #{carBrand,jdbcType=VARCHAR},
      #{carPrice,jdbcType=INTEGER}, #{carNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="szx.car_shop.entity.Car">
    insert into tb_car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="carId != null">
        car_id,
      </if>
      <if test="carImg != null">
        car_img,
      </if>
      <if test="carBrand != null">
        car_brand,
      </if>
      <if test="carPrice != null">
        car_price,
      </if>
      <if test="carNum != null">
        car_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="carId != null">
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="carImg != null">
        #{carImg,jdbcType=VARCHAR},
      </if>
      <if test="carBrand != null">
        #{carBrand,jdbcType=VARCHAR},
      </if>
      <if test="carPrice != null">
        #{carPrice,jdbcType=INTEGER},
      </if>
      <if test="carNum != null">
        #{carNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="szx.car_shop.entity.CarExample" resultType="java.lang.Long">
    select count(*) from tb_car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_car
    <set>
      <if test="record.carId != null">
        car_id = #{record.carId,jdbcType=INTEGER},
      </if>
      <if test="record.carImg != null">
        car_img = #{record.carImg,jdbcType=VARCHAR},
      </if>
      <if test="record.carBrand != null">
        car_brand = #{record.carBrand,jdbcType=VARCHAR},
      </if>
      <if test="record.carPrice != null">
        car_price = #{record.carPrice,jdbcType=INTEGER},
      </if>
      <if test="record.carNum != null">
        car_num = #{record.carNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_car
    set car_id = #{record.carId,jdbcType=INTEGER},
    car_img = #{record.carImg,jdbcType=VARCHAR},
    car_brand = #{record.carBrand,jdbcType=VARCHAR},
    car_price = #{record.carPrice,jdbcType=INTEGER},
    car_num = #{record.carNum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="szx.car_shop.entity.Car">
    update tb_car
    <set>
      <if test="carImg != null">
        car_img = #{carImg,jdbcType=VARCHAR},
      </if>
      <if test="carBrand != null">
        car_brand = #{carBrand,jdbcType=VARCHAR},
      </if>
      <if test="carPrice != null">
        car_price = #{carPrice,jdbcType=INTEGER},
      </if>
      <if test="carNum != null">
        car_num = #{carNum,jdbcType=INTEGER},
      </if>
    </set>
    where car_id = #{carId,jdbcType=INTEGER}
  </update>


  <update id="updateById" parameterType="szx.car_shop.entity.Car">
    update tb_car
    set car_img = #{carImg,jdbcType=VARCHAR},
      car_brand = #{carBrand,jdbcType=VARCHAR},
      car_price = #{carPrice,jdbcType=INTEGER},
      car_num = #{carNum,jdbcType=INTEGER}
    where car_id = #{carId,jdbcType=INTEGER}
  </update>
</mapper>