<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <base th:href="${#request.getContextPath()}+'/'">


    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">


</head>

<body>

<div class="container">

    <form class="form-signin" action="http://localhost:8080/user/login" method="get">
        <h2 class="form-signin-heading">系统登录</h2>
        <label for="username" class="sr-only">账号</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="username" required autofocus>
        <label for="password" class="sr-only">密码</label>
        <input type="password" name="Password" id="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 保存密码
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <p style="color: red" th:text="${error}">login</p>
    </form>

</div> <!-- /container -->
</body>
</html>
