<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
<!--        配置启动日志 输出到控制台-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="cacheEnabled" value="true"/>
    </settings>
<!--    环境配置 defeault指定默认环境-->
    <environments default="develop">
<!--        配置开发环境-->
        <environment id="develop">
<!--            配置事务管理器的类型：JDBC-->
            <transactionManager type="JDBC"></transactionManager>
<!--            配置数据源 类型为连接池-->
            <dataSource type="POOLED">
<!--                配置驱动类型 url 账号 密码-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/test01?serverTimezone=CST&amp;useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="cut192623"/>
            </dataSource>
        </environment>
    </environments>
<!--    配置接口映射文件的位置-->
    <mappers>
        <mapper resource="Mapper/InfoMapper.xml"/>
        <mapper resource="Mapper/OrderInfoMapper.xml"/>
<!--        <mapper class="test.dao.InfoMapper"/>-->
<!--        <mapper class="test.dao.OrderMapper"/>-->
    </mappers>
</configuration>